<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="menu.css">
  <title>Answer</title>
</head>
<body>
<div class="area"></div>
<nav class="main-menu">
  <ul>
    <li>
      <a href="http://justinfarrow.com">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
                           My profile
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-laptop fa-2x"></i>
        <span class="nav-text">
                            Answer the questionnaire
                        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-list fa-2x"></i>
        <span class="nav-text">
                            Forms
                        </span>
      </a>

    </li>


    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
                            Logout
                        </span>
        </a>
      </li>
    </ul>
</nav>
<div class="container ">
  <header class="header">
    <h1 id="title">
      Your personality
    </h1>

  </header>
  <form action="" id="survey-form">

    <!-- Text section -->
    <div class="form-group">
      <label for="username">
        What is your gender ?</label>
      <input type="text" name="username" id="username" class="formControl" placeholder="Enter the answer"
             required>
    </div>

    <!-- Text section -->
    <div class="form-group">
      <label for="username">Born city:</label>
      <input type="text" name="username" id="username" class="formControl" placeholder="Enter the answer"
             required>
    </div>
    <!-- end of text section -->

    <!-- Text section -->
    <div class="form-group">
      <label for="password">Age:</label>
      <input type="text" name="text" id="password" class="formControl" placeholder="Enter the answer"
             required>
    </div>
    <!-- end of text section -->

    <!-- Type Email section -->
    <div class="form-group">
      <label for="email">Weight:</label>
      <input type="email" name="email" id="email" class="formControl" placeholder="Enter the answer" required>
    </div>
    <!-- end of Email section -->

    <!-- Type Email section -->
    <div class="form-group">
      <label for="email">Height:</label>
      <input type="email" name="email" id="email" class="formControl" placeholder="Enter the answer" required>
    </div>
    <!-- end of Email section -->

    <div class="form-group">
      <button type="submit" id="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
</body>
</html>