<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="main.css">
    <title>Auth</title>
</head>
<body>
<div class="container ">
    <header class="header">
        <h1 id="title">
            Authorization
        </h1>

    </header>
    <form action="" id="survey-form">

        <!-- Text section -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="formControl" placeholder="Enter your username" required>
        </div>
        <!-- end of text section -->

        <!-- Text section -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="formControl" placeholder="Enter your password" required>
        </div>
        <!-- end of text section -->

        <div class="form-group">
            <button type="submit" id="submit" class="btn">Submit</button>
        </div>
    </form>
</div>
</body>
</html>