<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="menu.css">
    <title>Forms</title>
</head>
<body>
<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <a href="http://justinfarrow.com">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                           My profile
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            Create new questionnaire
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                            Forms
                        </span>
            </a>

        </li>


        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                            Logout
                        </span>
                </a>
            </li>
        </ul>
</nav>
<div class="container ">
    <header class="header">
        <h1 id="title">
            My Forms
        </h1>

    </header>
    <form action="" id="survey-form">

        <!-- Text section -->
        <div class="form-group">
            <label for="username"><a href="https://www.mozilla.org/ru/">Your personality</a></label>

        </div>


    </form>
</div>
</body>
</html>