<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="menu.css">
    <title>Questionnaire</title>
</head>
<body>
<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <a href="http://justinfarrow.com">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                           My profile
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                            Create new questionnaire
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                            Forms
                        </span>
            </a>

        </li>


        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                            Logout
                        </span>
                </a>
            </li>
        </ul>
</nav>
<div class="container ">
    <header class="header">
        <h1 id="title">
            Your personality
        </h1>

    </header>
    <form action="" id="survey-form">

        <!-- Text section -->
        <div class="form-group">
            <label for="username"><big>1. What is your gender ?</big><br></label>
            <span style="white-space: pre-line"></span>
            <p>Male</p>

        </div>

        <!-- Text section -->
        <div class="form-group">
            <label for="username"><big>2. Born city:</big><br></label>
            <span style="white-space: pre-line"></span>
            <p>Odessa</p>

        </div>

        <!-- Text section -->
        <div class="form-group">
            <label for="username"><big>3. Age:</big><br></label>
            <span style="white-space: pre-line"></span>
            <p>21</p>

        </div>

        <!-- Text section -->
        <div class="form-group">
            <label for="username"><big>4. Weight:</big><br></label>
            <span style="white-space: pre-line"></span>
            <p>80</p>

        </div>

        <!-- Text section -->
        <div class="form-group">
            <label for="username"><big>5. Height:</big><br></label>
            <span style="white-space: pre-line"></span>
            <p>180</p>

        </div>

    </form>
</div>
</body>
</html>